$colors: (
    text: (
        "white": #FFFFFF,
        "white-accent": #f5f5f5,
        "black": #202020,
        "black-accent": #1D1D1B,
        "gold": #FBED81,
    ),
    bg: (
        "gold": #FDF1D9,
        "grey": #F8F8F8,
        "oliva": #C5D6D1,
    )
)