@use "sass:meta";
@use './typography' as t;
@use "./colors" as *;

:root {
    --font-main: #{t.$font-main};
    --font-accent: #{t.$font-accent};
    --font-title-only: #{t.$font-title-only};

    @each $name, $shades in $colors {
        @each $shade, $value in $shades {
            --color-#{$name}-#{$shade}: #{$value}
        }
    }

    --border-main: 1px solid var(--color-text-black-accent);
}