@use "sass:selector";
@use "../utils/mixins" as *;
@use "../utils/breakpoints" as *;
.contacts {
  padding-top: 1px;
  border-top: var(--border-main);

  @include bp-up(md) {
    border-bottom: var(--border-main);
  }

  &__cities {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(30px, auto);
    background-color: var(--color-bg-grey);

    @include bp-up(lg) {
      grid-auto-flow: column;
      grid-template-columns: 6.25% 6.25% 6.25% auto;
      grid-template-rows: auto;
    }

    &-centre {
      padding: 10px;
      @include bp-up(lg) {
        padding: 30px 50px 30px 0px;
      }

      @include bp-up(xxl) {
        padding: 40px 68px 40px 0px;
      }
    }

    &-inner {
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: start;
      @include bp-up(sm) {
        align-items: center;
      }

      @include bp-up(md) {
        align-items: end;
      }

      @include bp-up(lg) {
        padding: 40px;
        flex-direction: row;
        align-items: start;
        column-gap: 40px;
      }

      @include bp-up(xxl) {
        padding: 60px;
      }
    }

    &-img-container {
      @include bp-up(sm) {
        width: 80%;
      }

      @include bp-up(md) {
        width: auto;
      }

      @include bp-up(lg) {
        width: 50%;
        flex-grow: 1;
      }
    }

    &-info {
      font-family: var(--font-accent);
      font-size: 14px;

      @include bp-up(md) {
        font-size: 14px;
      }

      @include bp-up(lg) {
        font-size: 16px;
      }

      @include bp-up(xxl) {
        font-size: 18px;
        column-gap: 60px;
      }
    }

    &-title {
      font-family: var(--font-main);
      margin-top: 15px;
      margin-bottom: 10px;
      max-width: 353px;
      @include font-style(16, 25, 1920, 400, 120%);
      letter-spacing: 0.5px;

      @include bp-up(sm) {
        margin-top: 30px;
      }

      @include bp-up(md) {
        margin-top: 45px;
        margin-bottom: 24px;
      }
    }

    &-address {
      margin-bottom: 5px;
      max-width: 353px;
    }

    &-tel {
      display: block;
      margin-bottom: 5px;
    }

    &-email {
      display: block;
      margin-bottom: 20px;
    }

    &-opening-hours {
      & > * {
        line-height: 150%;
      }
    }
  }

  &__city {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: var(--border-main);

    @include bp-up(lg) {
      text-align: start;
      border-bottom: none;
    }

    &--vertical {
      @include bp-up(lg) {
        writing-mode: sideways-lr;
        border-right: var(--border-main);
        padding-bottom: 50px;
        padding-block: 22px;
      }
    }
  }

  &__products {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    border-bottom: var(--border-main);

    @include bp-up(md) {
      grid-template-columns: repeat(4, 1fr);
      grid-auto-flow: initial;
      grid-template-rows: auto auto;
    }
  }

  &__title {
    grid-column: 1 / -1;
    padding: 10px 0px 10px 10px;
    border-top: var(--border-main);
    border-bottom: var(--border-main);
    @include bp-up(sm) {
      padding: 15px 0px 15px 50px;
    }
    @include bp-up(md) {
      padding: 37px 0px 37px 50px;
    }
  }

  &__card {
    &:nth-of-type(1) {
      border-right: var(--border-main);
      border-bottom: var(--border-main);
    }
    &:nth-of-type(2) {
      border-right: var(--border-main);
    }

    @include bp-up(md) {
      &:nth-of-type(3) {
        border-right: var(--border-main);
      }
    }

    &:nth-of-type(3) {
      border-bottom: var(--border-main);
    }
  }

  &__food {
    background-color: var(--color-bg-gold);
    display: flex;
    flex-direction: column;

    @include bp-up(lg) {
      display: grid;
      grid-template-columns: 41.45% auto;
    }

    &-banner {
      padding: 16px 0px 26px 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      row-gap: 40px;
      border-bottom: var(--border-main);

      @include bp-up(md) {
        padding: 28px 0px 48px 28px;
        align-items: start;
        row-gap: 100px;
      }

      @include bp-up(lg) {
        padding: 38px 0px 60px 38px;
        border-right: var(--border-main);
      }

      @include bp-up(xl) {
        padding: 42px 0px 70px 42px;
      }
    }

    &-title {
      @include bp-up(lg) {
        max-width: 290px;
      }

      @include bp-up(xl) {
        max-width: 400px;
      }
    }

    &-img-container {
      padding-left: 20px;
      width: calc(50% + 20px);
      align-self: start;

      @include bp-up(sm) {
        width: calc(40% + 20px);
      }

      @include bp-up(md) {
        width: calc(35% + 20px);
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      border-bottom: var(--border-main);

      &-item {
        padding: 10px 50px 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include bp-up(lg) {
          padding: 20px 50px 20px 40px;
        }

        @include bp-up(xl) {
          padding: 58px 48px 40px;
        }

        &:not(:last-child) {
          border-bottom: var(--border-main);
        }

        @at-root #{selector.nest(&, ".view-more-button::after")} {
          right: -30px;
          width: 22px;
          aspect-ratio: 1;
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
      }

      &-description {
        max-width: 200px;
        font-family: var(--font-accent);
        @include font-style(14, 18, 1920, 400, 133%);
        @include bp-up(sm) {
          max-width: 260px;
        }
        @include bp-up(md) {
          max-width: 280px;
        }

        @include bp-up(xl) {
          max-width: 332px;
        }
      }

      &-btn {
        flex-grow: 1;
        white-space: nowrap;
        text-align: end;

        @include bp-up(sm) {
          font-size: 16px;
        }
      }
    }
  }

  &__reserve {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 34px;
    background: border-box var(--color-bg-grey)
      url("../../images/slider/slider-bg.png") center/cover no-repeat;

    @include bp-up(sm) {
      padding-top: 50px;
      padding-bottom: 55px;
    }

    @include bp-up(md) {
      padding-top: 64px;
      padding-bottom: 70px;
    }

    @include bp-up(lg) {
      padding-top: 80px;
      padding-bottom: 88px;
    }

    @include bp-up(xl) {
      padding-top: 144px;
      padding-bottom: 134px;
    }
  }

  &__form {
    padding-inline: 20px;
    &-title {
      margin-bottom: 20px;
      text-align: center;
    }

    &-body {
      padding: 22px 34px;
      font-size: 14px;
      line-height: 150%;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;

      @include bp-up(lg) {
        flex-direction: row;
        align-items: first baseline;
        column-gap: 35px;
      }

      @include bp-up(sm) {
        font-size: 16px;
      }

      @include bp-up(md) {
        font-size: 18px;
      }

      & > * {
        width: 100%;
        @include bp-up(md) {
          width: 70%;
        }
      }

      @at-root #{selector.nest(&, ".contacts__form-item:first-child")} {
        display: flex;
        flex-direction: column;
        row-gap: 5px;

        & > .contacts__form-table {
          font-family: var(--font-accent);
          font-size: 10px;
        }
      }

      @at-root #{selector.nest(&, ".contacts__form-item:nth-child(3)")} {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 12px;
          right: 3px;
          width: 18px;
          height: 11px;
          background: border-box var(--color-bg-grey)
            url("../../images/icons/yes.svg") center / cover no-repeat;
        }
      }
    }

    #{selector.append(&, "-number-of-guests, -date-of-visit, -time-of-visit")} {
      border-bottom: var(--border-main);
    }
    &-btn {
      @at-root #{selector.unify(&, "button")} {
        width: 50%;
        padding: 7px 12px;
        font-size: 16px;
        white-space: nowrap;
        @include bp-up(md) {
          width: 30%;
        }
      }
    }
  }
}
