@use "sass:selector";
@use "../utils/" as *;

.footer {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 175%;

  @include bp-up(sm) {
    font-size: 16px;
  }

  @include bp-up(lg) {
    font-size: 18px;
  }
  &__wrapper {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;

    @include bp-up(lg) {
      padding: 40px;
      grid-template-columns: 46.35% 1fr 1fr;
    }
  }

  &__contacts {
    grid-column: 1/-1;
    @include bp-up(lg) {
      grid-column: 1;
    }
    display: flex;
    align-items: center;
    column-gap: 40px;

    &-title {
      margin-bottom: 7px;
      font-family: var(--font-main);
      font-size: 20px;

      @include bp-up(sm) {
        font-size: 24px;
      }

      @include bp-up(md) {
        font-size: 30px;
      }
    }

    & address {
      font-style: normal;
    }
  }

  &__list {
    & > * {
      position: relative;
    }

    justify-self: center;
    display: flex;
    flex-direction: column;

    @include bp-up(xl) {
      justify-self: initial;
    }

    & > *::after {
      content: "";
      position: absolute;
      background: border-box var(--color-text-white)
        url("../../images/icons/underline.svg") center/cover no-repeat;

      bottom: 0;
      left: 0;
      width: 57px;
      height: 5px;
    }
  }
}
