@use "../utils/mixins" as *;

.container {
  $container-width: 1980px;
  $container-padding-x: 15px;
  margin-inline: auto;
  padding-inline: #{$container-padding-x};
  max-width: #{calc($container-width - $container-padding-x * 2)};
}

.extra-big-title {
  font-family: var(--font-main);
  @include font-style(30, 120, 1980, 400, 110%);
}

.visually-hidden {
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }
  